# Common Secrets
JWT_SECRET= your_jwt_secret_key
SSL_KEYSTORE_PASSWORD= your_keystore_password

KAFKA_CLUSTER_ID=your_kafka_cluster_id
#ref/heads/main/trigger
# MongoDB Database URIs (For Docker containers)
USER_DB_URI=your_mongodb_uri_for_user_db
PRODUCT_DB_URI=your_mongodb_uri_for_product_db
ORDER_DB_URI=   your_mongodb_uri_for_order_db


REDIS_HOST=your_redis_host
KAFKA_HOST=your_kafka_host

MEDIA_SERVICE_URL=your_media_service_url
USER_SERVICE_URL=your_user_service_url
PRODUCT_SERVICE_URL=your_product_service_url
CART_SERVICE_URL=your_cart_service_url
ORDER_SERVICE_URL=your_order_service_url


JENKINS_ADMIN_USER=XXXX     
JENKINS_ADMIN_PASS=XXXXX    
SONAR_TOKEN=xxxxxxxxxxxxxxxxx
SMTP_EMAIL=xxxxxx@gmail.com
SMTP_PASSWORD=xxxxxxxxx

# nexus-password=11272b64-d06e-4189-8b08-6dc6231b4b83
# nexus-password=docker exec nexus cat /nexus-data/admin.password


